<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="confirmar(f)">
    
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} pauta </h1>
      </div>
    </div>
    
    <div class="grid">
      <div class="col-12 p-fluid">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <button pButton label="Salvar" [disabled]="f.invalid ?? false" icon="pi pi-save"></button>
            <p-button type="button" label="Novo" (click)="novo(f)" icon="pi pi-file"></p-button>
          </div>

          <div class="p-toolbar-group-right">
            <a pButton label="Pesquisar" [routerLink]="['/pautas']" icon="pi pi-search"></a>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" 
               required maxlength="300" minlength="1" 
               [(ngModel)]="pauta.descricao"  
               #descricao="ngModel">
        
        <div *ngIf="descricao.hasError('required') && descricao.dirty" class="ui-message ui-messages-error">
          Informe uma descrição
        </div>
        
        <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="ui-message ui-messages-error">
          Menos de 1 caracteres
        </div>
      </div>

      <div class="col-12 p-fluid">
        <label>Associados</label>
        <p-multiSelect 
          [options]="associados"
          [(ngModel)]="associadosSelecionados"
          optionLabel="nome" 
          optionValue="value"
          name="associadosSelecionados"
          [emptyMessage]="'Nenhum dado encontrado'"
          [required]="true">
        </p-multiSelect>
      </div>
    </div>  

    <p-toast position="top-right"></p-toast>
    <p-confirmDialog icon="pi pi-exclamation-triangle" [acceptLabel]="'Sim'" [rejectLabel]="'Não'"></p-confirmDialog>
  </form>
</div>
